/* 02 */

position: absolute;
width: 1413px;
height: 1386px;



/* How it works */

position: absolute;
width: 1391px;
height: 327px;



/* Understand & Release the stress in 3 steps */

position: absolute;
width: 584px;
height: 158px;

font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 157%;
/* or 79px */

color: #01996D;



/* How it works */

position: absolute;
width: 141px;
height: 38px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 157%;
/* identical to box height, or 38px */

color: #424242;



/* Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress. */

position: absolute;
width: 671px;
height: 269px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* or 30px */

color: #424242;



/* 01 */

position: absolute;
width: 390px;
height: 937px;



/* Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal! */

position: absolute;
width: 382px;
height: 150px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* or 30px */

color: #424242;



/* Group 26 */

position: absolute;
width: 269px;
height: 225px;



/* Group 13 */

position: absolute;
width: 181px;
height: 45px;



/* Personalize */

position: absolute;
width: 181px;
height: 45px;

font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */
text-align: center;

color: #000000;



/* 01 */

position: absolute;
width: 157px;
height: 225px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 150%;
/* identical to box height, or 225px */
text-align: center;

color: rgba(1, 153, 109, 0.2);



/* Rectangle 30 */

position: absolute;
width: 390px;
height: 492px;

background: url(.jpg), #C4C4C4;
border-radius: 12px;


/* Group 55 */

position: absolute;
width: 185px;
height: 144px;



/* Rectangle 105 */

position: absolute;
width: 185px;
height: 144px;

background: #C4C4C4;


/* image 30 */

position: absolute;
width: 198px;
height: 148px;

background: url(image);


/* Rectangle 106 */

position: absolute;
width: 185px;
height: 148px;

background: linear-gradient(122.77deg, rgba(24, 24, 24, 0.2) 2.51%, rgba(196, 196, 196, 0) 95.42%);


/* 02 */

position: absolute;
width: 392px;
height: 854px;



/* Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress! */

position: absolute;
width: 392px;
height: 90px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* or 30px */

color: #424242;



/* Group 26 */

position: absolute;
width: 392px;
height: 225px;



/* Group 13 */

position: absolute;
width: 313px;
height: 45px;



/* Write & Understand */

position: absolute;
width: 313px;
height: 45px;

font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */
text-align: center;

color: #000000;



/* 02 */

position: absolute;
width: 176px;
height: 225px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 150%;
/* identical to box height, or 225px */
text-align: center;

color: rgba(1, 153, 109, 0.2);



/* Rectangle 30 */

position: absolute;
width: 390px;
height: 492px;

background: url(1056_2);
border-radius: 12px;


/* 03 */

position: absolute;
width: 441px;
height: 856px;



/* Now you are aware, and have a way to manage and overcome your own stress. What are you waiting for? Alivio today! */

position: absolute;
width: 441px;
height: 90px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* or 30px */

color: #424242;



/* Group 26 */

position: absolute;
width: 226px;
height: 225px;



/* Group 13 */

position: absolute;
width: 102px;
height: 45px;



/* Alivio! */

position: absolute;
width: 102px;
height: 45px;

font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 150%;
/* identical to box height, or 45px */
text-align: center;

color: #000000;



/* 03 */

position: absolute;
width: 175px;
height: 225px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 150px;
line-height: 150%;
/* identical to box height, or 225px */
text-align: center;

color: rgba(1, 153, 109, 0.2);



/* Group 29 */

position: absolute;
width: 390px;
height: 492px;



/* Rectangle 31 */

position: absolute;
width: 390px;
height: 492px;

background: #C4C4C4;
border-radius: 12px;


/* Rectangle 30 */

position: absolute;
width: 551px;
height: 695px;

background: url(.jpg), #C4C4C4;
border-radius: 12px;
