/* 05 */

position: absolute;
width: 1920px;
height: 654px;



/* Group 19 */

position: absolute;
width: 1920px;
height: 654px;



/* Rectangle 6 */

position: absolute;
width: 1920px;
height: 654px;

background: #245852;


/* Alivio */

position: absolute;
width: 108px;
height: 55px;

font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 55px;
/* identical to box height */

color: #FFFFFF;



/* Why Alivio */

position: absolute;
width: 121px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Solutions */

position: absolute;
width: 103px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Community */

position: absolute;
width: 129px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;



/* Pricing */

position: absolute;
width: 76px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;
