/* 04 */

position: absolute;
width: 1370px;
height: 648px;



/* Image */

position: absolute;
width: 638.69px;
height: 573.26px;



/* Rectangle 14 */

position: absolute;
width: 638.69px;
height: 573.26px;

background: #C4C4C4;
border-radius: 18.1125px;


/* Rectangle 15 */

position: absolute;
width: 638.46px;
height: 573.26px;

background: rgba(1, 153, 109, 0.2);
border-radius: 18.1125px;


/* court-cook-TSZo17r3m0s-unsplash-removebg 1 */

position: absolute;
width: 427.6px;
height: 641.05px;

background: url(court-cook-TSZo17r3m0s-unsplash-removebg);
border-radius: 18.1125px;


/* Card */

position: absolute;
width: 296.14px;
height: 293.9px;

filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));


/* Rectangle 13 */

position: absolute;
width: 296.14px;
height: 293.9px;

background: #FFFFFF;
border-radius: 3.72971px;


/* Customized For */

position: absolute;
width: 130.54px;
height: 23.12px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 14.49px;
line-height: 157%;
/* or 23px */
text-align: center;

color: #000000;



/* Mikayla */

position: absolute;
width: 41.03px;
height: 18.65px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 11.9351px;
line-height: 157%;
/* identical to box height, or 19px */
text-align: center;

color: #000000;



/* Line 2 */

position: absolute;
width: 110.49px;
height: 0px;

border: 0.745942px solid #000000;


/* • Understand Your Stress */

position: absolute;
width: 117.35px;
height: 16.46px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 10.6195px;
line-height: 157%;
/* identical to box height, or 17px */
text-align: center;

color: #000000;



/* • Anger Management */

position: absolute;
width: 100.35px;
height: 16.46px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 10.6195px;
line-height: 157%;
/* identical to box height, or 17px */
text-align: center;

color: #000000;



/* Your custom contents */

position: absolute;
width: 180px;
height: 24.96px;

font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 15.9292px;
line-height: 157%;
/* identical to box height, or 25px */

color: #000000;



/* Image */

position: absolute;
width: 57.44px;
height: 57.44px;



/* Ellipse 2 */

position: absolute;
width: 57.44px;
height: 57.44px;

background: #C4C4C4;


/* Ellipse 3 */

position: absolute;
width: 57.44px;
height: 57.44px;

background: rgba(1, 153, 109, 0.2);


/* court-cook-TSZo17r3m0s-unsplash-removebg 2 */

position: absolute;
width: 69.73px;
height: 104.15px;

background: url(court-cook-TSZo17r3m0s-unsplash-removebg);


/* Text / btn */

position: absolute;
width: 584px;
height: 413px;



/* Group 17 */

position: absolute;
width: 227px;
height: 65px;



/* btn-primary */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 50px;
gap: 30px;

position: absolute;
width: 227px;
height: 65px;

background: #01996D;
border: 1px solid #01996D;
border-radius: 4px;


/* 13:20:13:20 */

width: 127px;
height: 25px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress. */

position: absolute;
width: 530px;
height: 81px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;

color: #484848;



/* Group 32 */

position: absolute;
width: 584px;
height: 207px;



/* You tell us your stress, We make your diary */

position: absolute;
width: 584px;
height: 158px;

font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 157%;
/* or 79px */

color: #01996D;



/* Our product */

position: absolute;
width: 136px;
height: 39px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 157%;
/* or 39px */

color: #424242;
