* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    ol,
    ul,
    menu {
      padding-inline-start: 0;
      list-style: none;
    }

    ol li::marker,
    ul li::before {
      letter-spacing: 0;
    }

    .scroll-container>div {
      width: 100%;
    }

    .container>div {
      width: 100%;
    }


    html {
      width: 100%;
      height: 100%;
    }

    body {
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: rgb(243, 184, 184);
    }

    span {
      word-break: break-word;
    }

    .container {
      width: 100%;
      height: 100%;
      padding: 0 208px;
    }


    .scroll-container {
width: 1920px;
height: 5099px;
background: #FFFFFF;
      overflow: auto;
      margin: 0 auto;
    }
    :root {
  --font-family: "Lato", sans-serif;
  --second-family: "Georgia", sans-serif;
  --third-family: "Avenir", sans-serif;
}

    /* beginning header */
.header {
width: 1920px;
height: 980px;
background: rgb(177, 219, 203);
}
.header_top-box_flex {
  display: flex;
height: 85px;
padding-top: 32px;
background: #FFFFFF;
}
.header_top-logo {
  width: 80px;
  height: 23px;
}
.header_nav-flex {
  display: flex;
width: 617px;
height: 24px;
margin-left: 194px;
background: #f1b7b7;
}

.header_nav-WhyAlivio {
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
color: #292929;
}
.header_nav-Solutions {
  /* Solutions */
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 94px;
/* identical to box height */
color: #292929;
}
.header_nav-Community {
  /* Community */
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 82px;
/* identical to box height */
color: #292929;
}
.header_nav-Pricing {
/* Pricing */
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 89px;
/* identical to box height */
color: #292929;
}






/* Divider */
.Divider {
top: 1px;
bottom: 20px;
border: 1px solid #D6D6D6;

}













    /* end header */

.zero1 {
width: 1920px;
height: 176px;
background: #f00606;
}
    /* beginning PartNumber2 */
.PartNumber2  {
width: 1920px;
height: 1386px;
margin: 0 auto;
background: bisque;
}
    /* end PartNumber2 */

.zero2 {
width: 1920px;
height: 44px;
background: #f00606;
}
    /* beginning  PartNumber3*/
.PartNumber3 {
  width: 1920px;
height: 922px;
background: blueviolet;
}
    /* end PartNumber3*/
.zero3 {
width: 1920px;
height: 120px;
background: #f00606;
}

    /* beginning   PartNumber4*/
.PartNumber4 {
width: 1920px;
height: 648px;
background: chartreuse;
margin: 0 auto;
}
    /* end  PartNumber4*/
.zero4 {
width: 1920px;
height: 168px;
background: #f00606;
}
    /* beginning  footer*/
.footer {
  width: 1920px;
height: 654px;
background: blue;
}
    /* end footer*/
