* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    ol,
    ul,
    menu {
      padding-inline-start: 0;
      list-style: none;
    }

    ol li::marker,
    ul li::before {
      letter-spacing: 0;
    }

    .scroll-container>div {
      width: 100%;
    }

    .container>div {
      width: 100%;
    }


    html {
      width: 100%;
      height: 100%;
    }

    body {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-color: rgb(243, 184, 184);
    }

    span {
      word-break: break-word;
    }

    .container {
      width: 1920px;
      padding: 0 256px;
    }


    .scroll-container {
      width: 1920px;
      height: 5099px;
      background: #FFFFFF;
      overflow: auto;
      margin: 0 auto;
    }
    :root {
  /* --font-family: "Lato", sans-serif; */
  --second-family: "Georgia", sans-serif;
  --third-family: "Avenir", sans-serif;
}

    /* beginning header */
.header {
width: 1920px;
height: 980px;
background: #FFFFFF;
}
.header_top-box_flex {
  display: flex;
height: 85px;
background: #FFFFFF;
}
.header_top-logo {
  width: 80px;
  height: 23px;
  padding-top: 29px;
  margin-left: 17px;
}
.header_nav-flex {
  display: flex;
width: 617px;
height: 24px;
margin-top: 30px;
margin-left: 173px;
}

.header_nav-WhyAlivio {
  width: 100px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
color: #292929;
}
.header_nav-Solutions {
  /* Solutions */
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 69px;
/* identical to box height */
color: #292929;
}
.header_nav-Community {
  /* Community */
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 71px;
/* identical to box height */
color: #292929;
}
.header_nav-Pricing {
/* Pricing */
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
padding-left: 71px;
/* identical to box height */
color: #292929;
}
.header_btn-flex {
  display: flex;
width: 314px;
height: 55px;
margin-top: 17px;
margin-left: 236px;
}
.header_btn-text {
  width: 67px;
  height: 24px;
padding-top: 13px;
padding-left: 7px;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

color: #000000;
}
.header_btn-primary {
border: 1px solid #01996d;
border-radius: 4px;
padding: 13px 50px;
width: 183px;
height: 51px;
margin-left: 33px;
background: #01996d;
}
.header_btn-primary_text {
  width: 90px;
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 125%;
text-align: center;
color: #fff;
}
.header_content-outer {
width: 1920px;
height: 895px;
background: #faf6ff;
background-image: url(../images/BG.svg);
}
.header_content-text1 {
font-family: var(--second-family);
font-weight: 700;
font-size: 65px;
color: #01996d;
padding-top: 174px;
padding-bottom: 34px;
padding-left: 274px;
}
.header_content-text2 {
 font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 157%;
color: #484848;
line-height: 145%;
width: 420px;
height: 123px;
margin-left: 275px;
margin-bottom: 15px;
}

.header_content-btn_primary {
border: 1px solid #01996d;
border-radius: 4px;
padding-top: 19px;
padding-left: 36px;
width: 227px;
height: 65px;
margin-left: 275px;

background: #01996d;
}
.header_content-btn_primary-text {
  width: 150px;
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 125%;
text-align: center;
color: #fff;
}

    /* end header */

.zero1 {
width: 1920px;
height: 165px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
    /* beginning PartNumber2 */
.Part2  {
width: 1920px;
height: 1386px;
margin: 0 auto;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.Part2_content {
width: 1391px;
height: 327px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.Part2_content-description {
width: 170px;
height: 38px;
padding-top: 3px;
padding-left: 18px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 157%;
/* identical to box height, or 38px */

color: #424242;
}

.Part2_content-boxFlex {
  height: 280px;
  display: flex;
}
.Part2_text1 {
  width: 584px;
height: 158px;
margin-top: 1px;
margin-left: 18px;
font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 157%;
/* or 79px */

color: #01996D;
}

.Part2_text2 {
  width: 671px;
height: 269px;
margin-top: 25px;
margin-left: 139px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* or 30px */

color: #424242;
}
.Part2_box_Group-flex {
  margin-top: 11px;
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}
/* Group01 */
.Part2_box_Group1 {
 width: 430px;
height: 937px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

}

.number_n01 {
  width: 269px;
height: 150px;
margin-left: 24px;
margin-bottom: 4px;
background-image: url(../images/01.svg);
background-repeat: no-repeat;
}
.number-text1 {
  width: 100%;
height: 45px;
padding-top: 60px;
padding-left: 83px;


font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 30px;
/* identical to box height, or 45px */

color: #000000;
}
.Part2_box_Group-text {

 font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #424242;
margin-bottom: 50px;
}
.Group-text1 {
  margin-left: 19px;
}
.foto1 {
width: 390px;
margin-top: 11px;
margin-left: 20px;

}



/* Group02 */
.Part2_box_Group2 {
 width: 430px;
height: 750px;
margin-top: 285px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

}

.number_n02 {
  width: 157px;
height: 130px;
margin-top: 3px;
margin-left: 21px;
background-image: url(../images/02.svg);
background-repeat: no-repeat;
}
.number-text2 {
  width: 100%;
height: 45px;
padding-top: 59px;
padding-left: 72px;


font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 30px;
/* identical to box height, or 45px */

color: #000000;
}
.Group-text2 {
  margin-top: 23px;
  margin-left: 14px;
  margin-bottom: 24px;
}
.foto2 {
width: 390px;
height: 495px;
margin-top: 11px;
margin-left: 11px;
}
/* Group03 */
.Part2_box_Group3 {
 width: 430px;
height: 937px;
margin-top: 57px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

}
.number_n03 {
  width: 157px;
height: 130px;
margin-left: 27px;
margin-bottom: 13px;
background-image: url(../images/03.svg);
background-repeat: no-repeat;
}
.number-text3 {
  width: 100%;
height: 45px;
padding-top: 57px;
padding-left: 117px;


font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 30px;
/* identical to box height, or 45px */
}
.Group-text3 {
  margin-left: 12px;
  margin-bottom: 34px;
}
.foto3 {
width: 395px;
height: 495px;
margin-top: 11px;
margin-left: 15px;
}

    /* end Part2 */

.zero2 {
width: 1920px;
height: 44px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

    /* beginning  Part3*/
.Part3 {
  width: 1920px;
height: 922px;
background: #245852;
}
.container-Part3 {
    width: 100%;
      padding: 0 207px;
}
.Part3_box-flex {
  height: 520px;
 display: flex;
}


.Part3_box-text1 {
width: 600px;
height: 158px;
margin-top: 319px;
margin-bottom: 30px;
font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 157%;
/* or 79px */

color: #FFFFFF;
}

.Part3_box-text2 {
width: 600px;
height: 39px;
margin-bottom: 63px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 157%;
/* or 39px */

color: #FFFFFF;
}


.Part3_box-btn_primary {
box-sizing: border-box;
width: 240px;
height: 65px;
background: #01996D;
border: 1px solid #01996D;
border-radius: 4px;
}
.Part3_box-btn_primary-text {
width: 150px;
height: 65px;
margin-top: 20px;
margin-left: 49px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
/* identical to box height, or 125% */

}
.Part3_box-video_Group {
border-radius: 16px;
width: 895px;
height: 516px;

margin-top: 238px;
margin-left: 8px;
background: rgba(0, 0, 0, 0.2);
}
.container_video {
  position: relative;
border-radius: 16px;
width: 895px;
height: 516px;
background-image: url(../images/video.png);
}


/* .container { position: relative; width: 50%; } */
.container_video img { width: 100%; height: auto; }
.container_video .btn {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100%;
  height: 100%;
  margin-left: 26px;
  background: url(../images/Video-icon.svg);
  /* background-color: rgba(114, 114, 114, 0.5); */
  z-index: 0;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  transition:
    transform 0.8s,
    background-size 0.8s,
    border 0.8s,
    opacity 0.8s;
  transition: all 0.8s;
}

.container_video .btn:hover {
  opacity: 0;
}

    /* end Part3*/


.zero3 {
width: 1920px;
height: 120px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}



    /* beginning   Part4*/
.Part4 {
width: 1920px;
height: 650px;
margin: 0 auto;
}
.Part4_common-flex {
  display: flex;
}
.Part4_box-flex {
  display: flex;
  margin-left: 14px;
}
.Part4-image {
  width: 639px;
  height: 573px;
  margin-left: 64px;
  background-image: url(../images/Image4.svg);
  background-color: rgba(1,153,109, 0.199);
}
.Part4-card {
    position: absolute;
width: 297px;
height: 294px;
margin-top: 340px;
margin-left: 5px;
background-image: url(../images/P4Card.svg);
}
.Part4_box_text-flex {
  display: flex;
    flex-direction: column;
    margin-left: 87px;
}
.Part4-text {
 width: 170px;
height: 39px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 157%;
/* or 39px */

color: #424242;
}
.Part4-text1 {
 width: 584px;
height: 158px;
margin-top: 10px;
margin-bottom: 1px;
font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 157%;
/* or 79px */

color: #01996D;
}
.Part4-text2 {
 width: 530px;
height: 81px;
margin-top: 19px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;

color: #484848;

}

.Part4_btn {
  width: 227px;
height: 65px;
margin-top: 349px;

flex-direction: column;
align-items: center;
padding: 20px 50px;
position: absolute;
background: #01996D;
border: 1px solid #01996D;
border-radius: 4px;
 cursor: pointer;
  transition-duration: 0.4s;
}
.Part4_btn:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)}


.Part4_btn-text {
width: 200px;
height: 25px;


font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

color: #FFFFFF;
}

    /* end  Part4*/

.zero4 {
width: 1920px;
height: 168px;
background: rgba(0, 0, 0, 0.1), linear-gradient(138deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

    /* beginning  footer*/
.footer {
  width: 1920px;
height: 654px;
background: #245852;
}
.footer-text {
width: 108px;
height: 55px;
padding-top: 94px;
padding-left: 6px;

font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 55px;
/* identical to box height */

color: #FFFFFF;
}
.footer-text1 {

  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;
}
.ft0 {
  padding-top: 90px;
  padding-left: 20px;
}
.ft1 {
  width: 200px;
  height: 30px;
  padding-top: 118px;
  padding-left: 18px;
}

.ft2 {
  width: 200px;
  height: 30px;
  padding-top: 91px;
  padding-left: 16px;
}
.ft3 {
  width: 200px;
  height: 30px;
  padding-top: 90px;
  padding-left: 18px;
}
.ft4 {
  width: 200px;
  height: 30px;
  padding-top: 89px;
  padding-left: 24px;
}
  /* end footer*/

  /* media */
@media only screen and (max-width: 2560px) {
 .container {
  width: 1920px;
  padding: 0 256px;
}
}

@media only screen and (max-width: 1440px) {
 .container {
  width: 1440px;
  padding: 0 192px;
}
}

@media only screen and (max-width: 1024px) {
 .container {
  width: 1024px;
  padding: 0 136px;
}
}

@media only screen and (max-width: 768px) {
 .container {
  width: 768px;
  padding: 0 102px;
}
}

@media only screen and (max-width: 425px) {
 .container {
  width: 425px;
  padding: 0 56px;
}
}

@media only screen and (max-width: 375px) {
 .container {
  width: 375px;
  padding: 0 42px;
}
}

@media only screen and (max-width: 320px) {
 .container {
  width: 320px;
  padding: 0 192px;
}
}
